body {
	margin: 0;
	background-color: #000000;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	width: 100%;
	height: 100%;
}
#welcomemessage {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 80px;
	margin: auto;
	width: 1106px;
	bottom: -678px;
	border-radius: 15px;
	background-color: #000000c5;
	color:rgb(238, 238, 238);
}
.blacktext {
	color:rgb(139, 48, 48);
	background-color: rgba(221, 221, 221, 0.726);
	border:none;
	font-size: 24px;
	font-family: "Lucida Console";
	margin-bottom: -5px;
}
input[type="text"] {
	border: none;
	border-radius: 10px;
	padding: 12px 20px;
	background-color: #000000;
	background-size: cover;
	color: #fff;
	font-family: "Lucida Console";
	letter-spacing: 2px;
	margin-top: 50px;
	width: 700px;
	height: 50px;
	font-size: 27px;
	border: 3px solid #ffeecf;
	transition: border-color 0.3s ease-in-out; /* add transition property */
	animation: blink-border 3s ease-in-out infinite; /* add animation property */
  }
  
  input[type="text"]:focus {
	border-color: #fdbf4b; /* changes border color when input is active to orange */
	outline: none;
	animation: none;
	transition: border-color 0.3s ease-in-out;
  }
  
  .popupInput {
	position: absolute;
	top: 996px;
	left: 277px;
	visibility: hidden;
	opacity: 0;
	padding: 10px;
	background-color: #000000e8;
	color: #e9e1e1;
	font-size: 26px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	transition: all 0.1s ease-in-out;
  }
  
  .show-popup {
	visibility: visible;
	opacity: 1;
	transform: translateY(-20px);
  }
  
  @keyframes blink-border {
	0% {
	  border-color: #ffeecf;
	}
	50% {
	  border-color: #fdbf4b;
	}
	100% {
	  border-color: #ffeecf;
	}
  }
  

#overlay{
	position:fixed;
	z-index:9999999999;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,1);
	transition: 1s 0.4s;
  }
  #progress{
	height:1px;
	background:#fff;
	position:absolute;
	width:0;                /* will be increased by JS */
	top:50%;
  }
  #progstat{
	font-size:0.9em;
	letter-spacing: 3px;
	position:absolute;
	top:50%;
	margin-top:-40px;
	width:100%;
	text-align:center;
	color:#fff;
  }
#settings {
	z-index: 9999999;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	opacity: 0;
	transition: all 0.2s;
}

#log {
	z-index: 9999999;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	opacity: 0;
	transition: all 0.2s;
}
#shop {
	z-index: 9999999;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	opacity: 0;
	transition: all 0.2s;
}
.tab {
	overflow: hidden;
	border-bottom: 1px solid #ccc;

	
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: #fff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 40px;
	margin: 5px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
  }
  .tablinks {
	display: block;
	width: 218px;
	height: 60px;
	font-size: 22px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	margin-left: auto;
	color:#000;
	background-color: rgb(238, 238, 238);
	font-weight: bold;
  }
#change {
	font-size: 16px;
	text-align: center;
}
#copyright {
	position: relative;
	top: 50px;
	font-size: 15px;
}
#mage, #mage2, #mageclass {
	background-color: #2f477c;
}

#archer, #archer2, #archerclass {
	background-color: rgb(114, 158, 56);
}

#paladin, #paladin2, #paladinclass {
	background-color: #b9955f;
}
#lightdebufficon {
	display: none;
}
#lightatkdebufficon {
	display: none;
}
#lightdefbufficon {
	display: none;
}
#tutorial {
	overflow: hidden;
	z-index: 9999999;
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 100%;
	height: 100%;

}
#hp, #maxhp {
	font-size: 22px;
	display: inline-block;
	color: #fff;
}

#holyshieldText, #ene, #coin {
	font-size: 22px;
	display: inline-block;
	color: rgb(68, 68, 68);
}
#hpbutton {
	background-color: #6e3636;
	height: 45px;
	width: 218px;
	color: #fff;
}
#shieldbutton {
	background-color: #cfcaca;
	height: 45px;
	color: rgb(68, 68, 68);

}
#energybutton {
	background-color: #cca185;
	height: 45px;
	color: rgb(68, 68, 68);

}
#coinbutton {
	background-color: #eed19c;
	height: 45px;
	color: rgb(68, 68, 68);

}
#bloodsigilicon {
	display: none;
}

#popup {
	z-index: 99999999;
	position: absolute;
	border-radius: 15px;
	padding: 23px;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
	width: 600px;
	left: 25%;
	top: 35%;
	margin: auto;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
  }
  
  #popup.show {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
	transform: translateY(-20px);
  }
  
#levelup {
	z-index: 99999999;
	position: absolute;
	border-radius: 25px;
	padding: 23px;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 900px;
	left: 50%;
	margin-left: -465px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

#levelup.show {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
	transform: translateY(-20px);
  }
.lvlbutton {
	width: 180px;
	margin-left: 30px;
	font-size: 25px;
}
.icon {
	width: 70px;
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgb(255, 240, 198);

}

#holyshieldicon {
	display: none;
}
#huntericon {
	display: none;
}
#hunteratkicon {
	display: none;
}
#playerdmgtext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 70px;
	opacity: 1;
	transition: all 0.1s;
	top: 413px;
	left: 311px;
	color: darkred;
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}
#playerhealtext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 70px;
	opacity: 1;
	transition: all 0.1s;
	top: 203px;
	left: 849px;
	color: rgb(16, 104, 9);
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}
#playerpoisontext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 50px;
	top: 380px;
	left: 340px;
	opacity: 1;
	transition: all 0.1s;
	color: rgb(0, 139, 86);
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}

#playerbleedtext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 50px;
	top: 320px;
	left: 370px;
	opacity: 1;
	transition: all 0.2s;
	color: rgb(116, 31, 16);
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}

#li2 {
	margin-top: -100px;
}
.spellbutton {
	width: 255px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 24px;
}
#healbufficon {
	display: none;
}
#imgcontainer {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-top: -366px;
}

#imgcontainer2 {
	display: flex;
	justify-content: center;
	height: 70px;
	margin-top: -9px;
	margin-bottom: 20px;
}
a span {
	z-index: -1;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	
	position: absolute;
	color: #fff;
	background: rgba(0, 0, 0, 0.925);
	border-radius: 15px;
	padding: 15px;
	width: 500px;
	font-size: 22px;
	bottom: 58px;
	right: -250px;
	text-align: center;
}
a {
	position: relative;
	margin: 5px 15px;
	
}
a:hover span {
	z-index: 999999;
	opacity: 1;
	transition: all 0.2s;
	text-align: center;
	transform: translateY(-20px);
}
.shadow {
    border-radius: 50%;
	position: absolute;
	z-index: 1;
    width: 100px;
    height: 100px;
	right: 302px;
	top: 500px;
    background: black;
    opacity: 0.5;
    filter: blur(10px);
    transform: scale(1, 0.2);
}
#atkbufficon, #defbufficon {
	display: none;
}
#atkdebufficon {
	display: none;
}
#shieldicon {
	display: none;
}
#enragedicon {
	display: none;
}
#chest {
	display: none;
	width: 250px;
	position: absolute;
	top: 290px;
	left: 380px;
	cursor: pointer;
	margin-left: -100px;
}
progress {
	background-color: grey;
	margin: auto;
	width: 500px;
	display: block;
	height: 20px;
	border-radius: 50px;
	box-shadow: 0 3px 0px #212324;
	outline: none;
	-webkit-appearance: none;
   	appearance: none;
	 transition: width 0.5s ease;
	
}
#holyshieldbar {
	
	z-index: 99999;
	position: relative;
	bottom: 19px;
	width: 500px;
	padding-bottom: 15px;
	background-color: #00000000;
	box-shadow: 0 0px 0px #212324;
	
}
progress#holyshieldbar::-webkit-progress-bar {
	background-color: #00000000;
	transition: width 0.5s ease;
	z-index: 99999;
}

/* For Chrome or Safari */
progress#holyshieldbar::-webkit-progress-value {
	background-color: #cfcfcf;
	transition: width 0.5s ease;
	width: 500px;
	height: 20px;
	position: absolute;
	top: -5px;
	border-radius: 50px;
	box-shadow:0 0 20px rgb(255, 255, 255); 
}

/* For Chrome or Safari */
progress#playerHealth::-webkit-progress-value {
	background: rgb(160, 21, 21);
	transition: width 0.5s ease;
	border-radius: 50px;
	
}
progress#playerHealth::-webkit-progress-bar {
	transition: width 0.5s ease;

	border-radius: 50px;
}
/* for Chrome or Safari */
progress#dragonHealth::-webkit-progress-value {
	transition: width 0.5s ease;
	background: #eb5a1c;
	

}
progress#dragonHealth {
	border: 3px solid #eeeeee;

}
progress#playerHealth::-webkit-progress-value::after {
  content: attr(value) "/" attr(max);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

progress#dragonHealth::-webkit-progress-value::after {
  content: attr(value) "/" attr(max);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

#li1 {
	margin-left: 19px;
}

#menu {
	pointer-events: none;
	position: absolute;
	left: -217px;
	top: 18px;
	opacity: 0;
	transition: all 0.2s;

}
progress#dragonHealth {
	width: 670px;
	height: 20px;
}
#container {
	position: absolute;
	width: 1300px;
	margin: 0 auto;
}
#bookimg {
	position: absolute;
	width: 100px;
	left: 70px;
	top: 1185px;
}
#swordimg {
	position: absolute;
	width: 95px;
	right: 85px;
	top: 1180px;
	transform: scaleX(-1);
}
#learnmore {
	z-index: 50;
	width: 75px;
	height: 70px;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	box-shadow: 0 0px 0px #21232400;
	color:#1b1b1b;
	top: -3px;
	left: -3px;
	background-color: #ffffff;
	border: 5px solid #f3f3f3;
}
#learnmore2 {
	width: 75px;
	height: 70px;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	box-shadow: 0 0px 0px #21232400;
	color:#1b1b1b;
	top: -3px;
	right: -3px;
	background-color: #ffffff;
	border: 5px solid #f3f3f3;
}
h3 {
	color: #cecece;
	text-align: center;
	box-shadow: 0 4px 2px -2px #b6b6b6;
	outline: none;
	font-size: 25px;
}
#doubledmgicon {
	display: none;
}
#credit {
	font-size: 13px;
}
h2 {

	background-color: #ffffffef;
	text-align: center;
	font-size: 26px;
	border-radius: 15px;
	padding: 10px;
}
#logcontainer {
	overflow: auto;
	background-color: #0a0a0ac7;
	text-align: center;
	width: 1050px;
	font-size: 13px;
	color: #000;
	border-radius: 25px;
	margin: auto;
	padding: 10px;
}
h5 {
	border: 5px solid #ffffff;
	background-color: #ffffff;
	text-align: center;
	font-size: 19px;
}
#dmgreceiveicon {
	display: none;
}
#dragonname {
	font-size: 30px;
	padding: 5px;
	color: #ffa3a3;
}
#cave {
	border-radius: 25px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.0)
        ),
     url("images/background.png");
	background-size: cover;
	background-position: center center;
	width: 1300px;
	height: 760px;
	margin: 15px auto;
	box-sizing: border-box;
	position: relative;
}
#dragon {
	width: 570px;
	z-index:2;
	position: absolute;
	top: 29px;
	left: 0px;

}
.char {
	width: 346px;
	position: absolute;
	z-index: 3;
	top: 201px;
	right: 166px;
	transform: scaleX(-1);
	margin-left: -200px;
}
@keyframes glow {
	from {
	  box-shadow: 0 0 90px -10px #fffbc4ce;
	}
	to {
	  box-shadow: 0 0 90px 10px #f0e882;
	}
  }
#glow {
	position: absolute;
    z-index: 7;
    top: 256px;
    right: 240px;
    margin-left: -300px;
    width: 225px;
    height: 321px;
	display: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    box-shadow: 0 0 90px 30px rgb(255 250 145 / 44%);
	animation: glow 1s infinite alternate;
}
.elemental {
	all: initial;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	font-size:20px;
	font-weight: 700;
	color:rgb(243, 162, 236);

}
.physical {
	all: initial;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	font-size:20px;
	font-weight: 700;
	color: rgb(253, 176, 125);
}
h4 {
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	left: 50%;
	margin-left: -110px;
	top: 5px;
	font-weight: normal;
	text-shadow: 0 2px 2px rgba(103, 103, 103, 0.8);
}
.flavortextminus {
	margin-bottom: -27px;
	font-size: 21px;
	box-shadow: 0px 0px 0px #b6b6b6;
	color: #a14e4e;
	font-weight: bold;
	
}
.flavortextplus {
	margin-bottom: -27px;
	box-shadow: 0px 0px 0px #b6b6b6;
	color: #ff2b2b;
	font-weight: bold;
	font-size: 26px;
}
#message {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('images/backgroundui.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #1b1b1b;
	margin: 10px 0;
	padding: 30px 15px;
	border-radius: 25px;

}
p {
	color: #ffffff;
	font-size: 24px;
	margin-top: 0;
	line-height: 1.3em;
	text-align: center;
}
span {
	background-color: #ffffff00;
	color: #d94f45;
	font-size: 16px;
	padding: 1px 10px;
	font-weight: 700;
	line-height: 2em;
}
.damage {
	color: rgb(255, 135, 135);
	font-size: 26px;
	padding: 0px 9px;
	font-weight: 700;
	line-height: 1.3em;
	border-radius: 10px;
	
}

button {
	width: 19%;
	font-size: 18px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	
	background-color: #464646;
	color: #ffffff;
	padding: 5px;
	border-radius: 25px;
	border: none;
	box-shadow: 0 4px 0px #212324;
	outline: none;
	cursor: pointer;
}

#effect {
	display: none;
	position: absolute;
	top: 330px;
	left: 50%;
	margin-left: -310px;
	width: 192px;
	height: 192px;
	background-image: url("");
	background-position-x: -512px;
	background-position-y: 0;
	transform: scale(2.0);
}


#boss {
	border: 0px;
	background-color: rgba(0, 0, 0, 0.0);
}
ul {
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	padding: 30px 25px;
	margin-top: 10px;
	list-style-type: none;
	text-align: center;
}
#ulsettings {
	border: 0px solid #ffffff;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 30px;
	list-style-type: none;
	text-align: center;
}

#ulsettings2 {
	position: fixed;
	width: 96.5%;
	z-index: 99;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid #999999;
	margin-top: -50px;
	background-color: rgb(0, 0, 0);
	list-style-type: none;
	text-align: center;
}
#settingsclose {
	position: relative;
}
li {
	display: inline-block;
	margin: -1px 15px;
	cursor: pointer;
	color: white;
}
.support {
	display: block;
	width: 218px;
	height: 60px;
	font-size: 22px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	margin-left: auto;
	color:#000;
	background-color: rgb(238, 238, 238);
	font-weight: bold;
}
.classchange {
	display: block;
	width: 230px;
	height: 50px;
	font-size: 15px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	margin-left: auto;
	color:#fff;
	background-color: rgb(238, 238, 238);
	font-weight: bold;
}
.help {
	margin-left: -28px;
	width: 30px;
	height: 30px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	
}
#poisonicon {
	display: none;
}
#bleedicon {
	display: none;
}
#dragonhelp {
	background-color: rgb(138, 30, 30);
	
}
#s1 {
	background-color: #364e6e;
}
#s2 {
	background-color: #6e3636;
}

#s3 {
	background-color: #59366e;
}

#s4 {
	background-color: #366e36;
}

#skillactive {
	display: block;
	border: none;
}
#skillactive2, #skillactive3, #skillactive4, #skillactive5, #skillactive6, #skillactive7 {
	display: none;
	border: none;
}

#lighticon {
	display: none;
}
#s5 {
	background-color: #916d37;
}
#s6 {
	background-color: #882d2d;
}

#s7 {
	background-color: #773a28;
}

#s8 {
	background-color: #2a7e50;
}

#s9, #s10, #s11, #s12 {
	background-color: #c59958;
}
#knight, #knight2, #knightclass, #s17, #s18, #s19, #s20 {
	background-color: #6e3636;
}
#cryomancer, #cryomancer2, #cryomancerclass, #s29, #s30, #s31, #s32 {
	background-color: #366c6e;
}
#necromancer, #necromancer2, #necromancerclass {
	background-color: #53223f;
}
#s13, #s14, #s15, #s16 {
	background-color: #53223f;
}


#soulsiphonicon, #mindgleaningicon, #moonicon, #crimsonicon {
	display: none;
}

#swordsinger, #swordsinger2, #swordsingerclass, #s21, #s22, #s23, #s24 {
	background-color: #aa6831;
}

#d1icon, #d2icon, #d3icon, #frozenicon, #reflecticon, #frosticon, #stunicon {
	display: none;
}


  .rhombus {
	  background: linear-gradient(rgba(245, 245, 245, 0.1), rgba(245, 245, 245, 0.1)), rgba(255, 255, 255, 0.1) no-repeat center center fixed;
	background-size: cover;
	width: 160px;
	height: 160px;
	transform: rotate(45deg);
	position: relative;
	top: 35px;
	left: 879px;
	animation: freeze 1s infinite;
	border: 2px solid #c2d6d6;
	box-sizing: border-box;
	box-shadow: 0 0 10px #c2d6d6;
  }
  
  @keyframes freeze {
	50% {
	  border-color: #f5f5f5;
	  box-shadow: 0 0 20px #f5f5f5;
	}
  }
  
  #rhombus2 {
	   width: 100px;
	height: 100px;
	  top: 63px;
	  left: 865px;
	  z-index: 4;
  }
  #rhombus3 {
	   width: 50px;
	height: 50px;
	  top: -44px;
	  left: 985px;
  }
  
  #icyglass {
	position: absolute;
	display: none;
  }