body {
	margin: 0;
	background-color: #000000;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	width: 100%;
	height: 100%;
}
#tutorial {
	z-index: 99999999999;
	position: absolute;
	border-radius: 5px;
	padding: 15px;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 95%;
	height: 96%;
}
#popup {
	z-index: 9999999999;
	position: absolute;
	border: 3px solid #e7e7e7;
	border-radius: 25px;
	padding: 23px;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	width: 400px;
	left: 50%;
	margin-left: -215px;
	display: none;
}
.icon {
	width: 45px;
	box-shadow: 0 0 0 2px #fff;
}

#holyshieldicon {
	display: none;
}
#playerdmgtext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 70px;
	opacity: 1;
	transition: all 0.2s;
	top: 440px;
	left: 590px;
	color: darkred;
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}
#playerpoisontext {
	z-index: 999999;
	position: absolute;
	display: none;
	font-size: 50px;
	top: 320px;
	left: 370px;
	opacity: 1;
	transition: all 0.2s;
	color: rgb(0, 139, 86);
	font-weight: bold;
	text-shadow: 0px 0px 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff, 5px 5px #fff, -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff;
}


#li2 {
	margin-top: -100px;
}
.spellbutton {
	width: 230px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 25px;
}
#healbufficon {
	display: none;
}
#imgcontainer {
	display: flex;
	justify-content: center;
	height: 55px;
	margin-top: -40px;
}

#imgcontainer2 {
	display: flex;
	justify-content: center;
	height: 55px;
	margin-top: -15px;
}
a span {
	display: none;
	position: absolute;
	color: #fff;
	background: #000;
	padding: 15px;
	width: 250px;
	font-size: 20px;
}
a {
	position: relative;
	margin: 5px 15px;
}
a:hover span {
	display: block;
	text-align: center;
}
#atkbufficon {
	display: none;
}
#atkdebufficon {
	display: none;
}
#shieldicon {
	display: none;
}
#enragedicon {
	display: none;
}
#chest {
	display: none;
	width: 250px;
	position: absolute;
	top: 290px;
	left: 380px;
	cursor: pointer;
	margin-left: -100px;
}
progress {
	background-color: grey;
	margin: auto;
	width: 500px;
	display: block;
	height: 20px;
	box-shadow: 0 3px 0px #212324;
	outline: none;
	-webkit-appearance: none;
   	appearance: none;
	
}
#holyshieldbar {
	
	z-index: 99999;
	position: absolute;
	left: 290px;
	top: 1105px;
	width: 500px;
	background-color: #00000000;
	box-shadow: 0 0px 0px #212324;
	
}
progress#holyshieldbar::-webkit-progress-bar {
	background-color: #00000000;
	z-index: 99999;
}

/* for firefox */
progress#holyshieldbar::-moz-progress-bar {
	background-color: #cfcfcf;
	height: 0.25rem;
	border-radius: 10px;
	position: absolute;
}
/* For Chrome or Safari */
progress#holyshieldbar::-webkit-progress-value {
	background-color: #cfcfcf;
	height: 0.5rem;
	position: absolute;
}
/* for firefox */
progress#playerHealth::-moz-progress-bar {
	background-color: rgb(160, 21, 21);

}
/* For Chrome or Safari */
progress#playerHealth::-webkit-progress-value {
	background: rgb(160, 21, 21);
}
/* for firefox */
progress#dragonHealth::-moz-progress-bar {
	background-color: #eb5a1c;

}
/* for Chrome or Safari */
progress#dragonHealth::-webkit-progress-value {
	background: #eb5a1c;
	

}
progress#dragonHealth {
	border: 3px solid #eeeeee;

}
#li1 {
	margin-left: 19px;
}
progress#dragonHealth {
	width: 670px;
	height: 20px;
}
#container {
	position: absolute;
	width: 1080px;
	margin: 0 auto;
}
#bookimg {
	position: absolute;
	width: 100px;
	left: 70px;
	top: 1185px;
}
#swordimg {
	position: absolute;
	width: 95px;
	right: 85px;
	top: 1180px;
	transform: scaleX(-1);
}
#ene {
	color: #ffffff;
	text-align: center;
}
#learnmore {
	width: 75px;
	height: 70px;
	font-size: 40px;
	font-weight: bold;
	position: absolute;
	box-shadow: 0 0px 0px #21232400;
	color:#1b1b1b;
	top: -3px;
	left: -3px;
	background-color: #e7e7e7;
	border: 5px solid #f3f3f3;
}
h3 {
	color: #cecece;
	text-align: center;
	box-shadow: 0 4px 2px -2px #b6b6b6;
	outline: none;
	font-size: 25px;
}
#doubledmgicon {
	display: none;
}
#credit {
	font-size: 13px;
}
h2 {
	border: 5px solid #ffffff;
	background-color: #ffffff;
	text-align: center;
	font-size: 26px;
	border-radius: 25px;
	padding: 10px;
}

h5 {
	border: 5px solid #ffffff;
	background-color: #ffffff;
	text-align: center;
	font-size: 19px;
}
#dmgreceiveicon {
	display: none;
}
#dragonname {
	font-size: 30px;
	padding: 5px;
	color: #ffa3a3;
}
#cave {
	border-radius: 25px;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
     url("images/background.png");
	background-size: cover;
	background-position: center center;
	width: 1080px;
	height: 760px;
	margin: 15px auto;
	border: 5px solid #e7e7e7;
	box-sizing: border-box;
	position: relative;
}
#dragon {
	width: 700px;
	position: absolute;
	top: 200px;
	left: 350px;
	margin-left: -200px;
}

h4 {
	color: #ffffff;
	font-size: 30px;
	position: absolute;
	left: 50%;
	margin-left: -110px;
	top: 5px;
	font-weight: normal;
	text-shadow: 0 2px 2px rgba(103, 103, 103, 0.8);
}
.flavortextminus {
	margin-bottom: -27px;
	font-size: 25px;
	box-shadow: 0px 0px 0px #b6b6b6;
	color: #ec8e8e;
	font-weight: bold;
	
}
.flavortextplus {
	margin-bottom: -27px;
	font-size: 110%;
	box-shadow: 0px 0px 0px #b6b6b6;
	color: #ecdb8e;
	font-weight: bold;
	font-size: 22px;
}
#message {
	background-color: #1b1b1b;
	border: 5px solid #e7e7e7;
	margin: 10px 0;
	padding: 30px 15px;
	border-radius: 25px;
}
p {
	color: #ffffff;
	font-size: 24px;
	margin-top: 0;
	line-height: 1.3em;
	text-align: center;
}
span {
	background-color: #ffffff;
	color: #d94f45;
	font-size: 16px;
	padding: 1px 10px;
	font-weight: 700;
	line-height: 2em;
}
.damage {
	color: red;
	font-size: 26px;
	padding: 0px 2px;
	font-weight: 700;
	line-height: 2em;
}
input {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 80%;
	font-size: 16px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 25px;
	border: 1px solid #bdbdbd;
}
button {
	width: 19%;
	font-size: 18px;
	background-color: #464646;
	color: #ffffff;
	padding: 5px;
	border-radius: 25px;
	border: none;
	box-shadow: 0 4px 0px #212324;
	outline: none;
	cursor: pointer;
}

#effect {
	display: none;
	position: absolute;
	top: 280px;
	left: 50%;
	margin-left: -50px;
	width: 192px;
	height: 192px;
	background-image: url("/resources/exploda.png");
	background-position-x: -512px;
	background-position-y: 0;
	transform: scale(2.5);
}
#boss {
	border: 0px;
	background-color: rgba(0, 0, 0, 0.0);
}
ul {
	border: 3px solid #e7e7e7;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	padding: 30px 25px;
	margin-top: 10px;
	list-style-type: none;
	text-align: center;
}
li {
	display: inline-block;
	margin: -1px 15px;
	cursor: pointer;
	color: white;
}
.support {
	display: block;
	width: 200px;
	height: 60px;
	font-size: 22px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	margin-left: auto;
	color:#000;
	background-color: rgb(238, 238, 238);
	font-weight: bold;
}

.help {
	margin-left: -28px;
	width: 30px;
	height: 30px;
	font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
	
}
#poisonicon {
	display: none;
}
#dragonhelp {
	background-color: rgb(138, 30, 30);
	
}
#s1 {
	background-color: #364e6e;
}
#s2 {
	background-color: #6e3636;
}

#s3 {
	background-color: #59366e;
}

#s4 {
	background-color: #366e36;
}